.cancel-button {
    color: #f44336; /* Couleur du texte */
    background-color: #ffffff; /* Couleur de fond */
    border: 1px solid #f44336; /* Bordure */
  }
  
  .confirm-button {
    color: #ffffff; /* Couleur du texte */
    background-color: #4caf50; /* Couleur de fond */
    border: 1px solid #4caf50; /* Bordure */
  }
  
  .cancel-button:hover {
    background-color: #f44336; /* Couleur de fond au survol */
    color: #ffffff; /* Couleur du texte au survol */
  }
  
  .confirm-button:hover {
    background-color: #388e3c; /* Couleur de fond au survol */
    color: #ffffff; /* Couleur du texte au survol */
  }
  